page-login {
    .home_bg{
		background: url(../assets/imgs/home_page_bg.png) no-repeat; background-size: cover;
    .logo{ margin-top: 5%;
			img{ width:144px; height: 145px;}
			.location{margin-top: 15px;
				img{ width:44px; height: 64px;}
			}
		}
    .login_form{ margin: 0 0 20px 0; padding: 0;
      ion-label{ color:#ff473d; margin-bottom: 5px;}
    }
    .login_btn{ width:100%; padding: 25px 2.6rem;}
    .forgot_btn{ width:100%; background: #e2aa00; padding: 25px 2.6rem;}
    .sign_btn{ width:100%; background: #552f2c; padding: 25px 2.6rem;}
    .button-inner{font-weight: 600;}
  }
}
