page-changepassword {

    .logo{ margin-top: 5%;
      img{ width:144px; height: 145px;}
      .location{margin-top: 15px;
        img{ width:44px; height: 64px;}
      }
    }
    .login_form{ margin: 0 0 20px 0; padding: 0;
      ion-label{ color:#ff473d; margin-bottom: 5px;}
      ion-item{ background:#a8a8a8 !important; margin-bottom: 5px;}
    }
    .button{ padding: 25px 60px !important; background: $btn_color; width:100%;
      .button-inner{font-weight: 600;}
    }
    .forgot_btn{ width:100%; background: #e2aa00; padding: 25px 2.6rem;}

}
