// http://ionicframework.com/docs/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.

/*font import start*/
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i');
/*font import end*/
.center-align{ text-align: center;}

$leftmenu:#35c1d2;
$contentColor:#616161;
$headingColor:#2d2d2d;
$border-radius5: 5px;
$border-radius15: 15px;
$border-radius50: 50%;
$border-radius05: 5px;
$border-radius8: 8px;
$red_btn:#d01f26;
$white_color:#fff;
$anchorlink:#1f1f1f;
$anchorlinkHover:#35c1d2;
$btn_color:#d01f27;
$red_color:#f1030c;
$box-shadow:0 2px 2px #b7b7b7;

ion-app.md,
ion-app.ios {
  font-family: 'Open Sans', sans-serif !important;
}

a{color:$anchorlink;-webkit-transition:all 0.2s ease-in-out; transition: all 0.2s ease-in-out; text-decoration: none;}
a:hover{color:$anchorlinkHover; text-decoration: none;}

a[disabled], button[disabled], [ion-button][disabled]{ opacity: 1;}

ion-item{ background: rgba(0,0,0,0.9) !important; color:#fff !important; font-size: 13px !important; border-radius:$border-radius05 !important;
  input-wrapper{ color:#fff !important;}
  .item-inner{ border-bottom:none !important;}
}

::placeholder{
  color: rgba(255,255,255,0.7) !important;
  opacity: 1;
}
:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: rgba(255,255,255,0.7) !important;
  opacity: 1;
}

::-webkit-input-placeholder { /* Microsoft Edge */
   color: rgba(255,255,255,0.7) !important;
   opacity: 1;
}
.item-input .label-md, .item-select .label-md, .item-datetime .label-md, .item-input .label-ios, .item-select .label-ios, .item-datetime .label-ios{ color:$white_color;}


.item-md.item-input.item-input-has-focus .item-inner,
.item-md.item-input.input-has-focus .item-inner, .item-ios.item-input.item-input-has-focus .item-inner,
.item-ios.item-input.input-has-focus .item-inner {
  -webkit-box-shadow:none !important;
  box-shadow:none !important;
}

.item-md.item-input.ng-valid.item-input-has-value:not(.input-has-focus):not(.item-input-has-focus) .item-inner,
.item-md.item-input.ng-valid.input-has-value:not(.input-has-focus):not(.item-input-has-focus) .item-inner, .item-ios.item-input.ng-valid.item-input-has-value:not(.input-has-focus):not(.item-input-has-focus) .item-inner,
.item-ios.item-input.ng-valid.input-has-value:not(.input-has-focus):not(.item-input-has-focus) .item-inner {
  -webkit-box-shadow:none !important;
  box-shadow:none !important;
}

.item-md.item-input.ng-invalid.ng-touched:not(.input-has-focus):not(.item-input-has-focus) .item-inner, .item-ios.item-input.ng-invalid.ng-touched:not(.input-has-focus):not(.item-input-has-focus) .item-inner{
  -webkit-box-shadow:none !important;
  box-shadow:none !important;
}

.item-md.item-input.item-input-has-focus .item-inner,
.item-ios.item-input.input-has-focus .item-inner {
  -webkit-box-shadow:none !important;
  box-shadow:none !important;
}

.list-md .item-input.ng-invalid.ng-touched:not(.input-has-focus):not(.item-input-has-focus):last-child, .list-ios .item-input.ng-invalid.ng-touched:not(.input-has-focus):not(.item-input-has-focus):last-child{
-webkit-box-shadow:none !important;
box-shadow:none !important;}

.list-md .item-input.item-input-has-focus:last-child, .list-md .item-input.input-has-focus:last-child,
.list-ios .item-input.item-input-has-focus:last-child, .list-ios .item-input.input-has-focus:last-child{ box-shadow: none !important; -webkit-box-shadow:none !important;}


.bar-button-default-ios, .bar-button-default.bar-button-ios-default, .bar-button-clear-ios-default, .bar-button-default-md, .bar-button-default.bar-button-md-default, .bar-button-clear-md-default{color:#fff;}

.list-ios > .item-block:last-child, .list-ios > .item-wrapper:last-child .item-block, .list-md > .item-block:last-child, .list-ios > .item-wrapper:last-child .item-block{ border-bottom:none;}

.list-md .item-input.ng-invalid.ng-touched:not(.input-has-focus):not(.item-input-has-focus):last-child, .list-ios .item-input.ng-invalid.ng-touched:not(.input-has-focus):not(.item-input-has-focus):last-child{border-bottom:none;}

button{ opacity: 1;}

.toolbar-background-md, .toolbar-background-ios{ background: #000;}
.toolbar-title-md, .toolbar-title-iso{ color:#fff;}

.alert-head{ background: #d01f27;
  h2{ color: #fff; font-size: 16px !important; font-weight: 600;}
}
.alert-md .alert-button, .alert-ios .alert-button{ background: #d01f27; color:#fff;}

.list-md .item-input:last-child{ border-bottom:none;}

.scroll-content{padding-bottom: 0 !important;}

.list-md .item-input.ng-valid.input-has-value:not(.input-has-focus):not(.item-input-has-focus):last-child, .list-md .item-input.ng-valid.item-input-has-value:not(.input-has-focus):not(.item-input-has-focus):last-child, .list-ios .item-input.ng-valid.input-has-value:not(.input-has-focus):not(.item-input-has-focus):last-child, .list-ios .item-input.ng-valid.item-input-has-value:not(.input-has-focus):not(.item-input-has-focus):last-child{box-shadow: none !important; -webkit-box-shadow:none !important;}

/* menu css start*/
.menu{margin: 0; padding: 0; background: #ede9e9;
  .menu_bg{background: url(../assets/imgs/menu_bg.png) no-repeat; background-size: cover; height: 150px; text-align: center; padding: 28px 0;
    img{ width:97px; height: 93px;}
  }
  .list{ margin-bottom: 0;}
  .item-ios, .item-md{ background: none !important;
    .label{color:#333;}
  }
  .item-ios[detail-push] .item-inner, button.item-ios:not([detail-none]) .item-inner, a.item-ios:not([detail-none]) .item-inner, .item-md[detail-push] .item-inner, button.item-md:not([detail-none]) .item-inner, a.item-md:not([detail-none]) .item-inner{ background: none;}
  ion-list{ margin: 0; padding: 0;
  .item-ios, .item-md { padding-left: 0 !important;
    .item-inner{ padding-right: 0 !important;
      .label {
        img{ width:25px; height: auto; margin-left:20px; position: relative; top:4px; margin-right: 10px;}
      }
    }
  }

  }
}
/* menu css end*/

/*19-07-2018*/
.label-ios, .label-md {
    margin: 5px 8px 5px 0 !important;
}
/*19-07-2018*/
